@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif; }

header {
  padding: 10px 0;
  box-shadow: 0 5px 10px rgba(204, 204, 204, 0.3); }
  header .container div .titulo-semillas h1 {
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    color: gray; }
  header .container div .avatar-img .avatar-container {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer; }
    header .container div .avatar-img .avatar-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 50%; }
    header .container div .avatar-img .avatar-container i {
      position: absolute;
      left: 0;
      top: 0;
      color: orange;
      font-size: 20px; }
  header .modal .modal-dialog .modal-content .modal-header {
    padding: 10px;
    margin: 0; }
  header .modal .modal-dialog .modal-content .modal-body ul {
    margin: 0;
    padding: 0; }
    header .modal .modal-dialog .modal-content .modal-body ul li {
      list-style-type: none;
      color: orange; }
      header .modal .modal-dialog .modal-content .modal-body ul li a {
        text-decoration: none;
        display: block;
        padding: 10px 0;
        color: orange; }
        header .modal .modal-dialog .modal-content .modal-body ul li a i {
          display: inline-block;
          width: 18px;
          text-align: center;
          margin-right: 5px; }
