header{
    padding: 10px 0;
    box-shadow: 0 5px 10px rgba(204, 204, 204, .3);
    .container{
        div{
            .titulo-semillas{
                h1{
                    padding: 0;
                    margin: 0;
                    font-size: 18px;
                    text-transform: uppercase;
                    color:$secondary;
                }

            }
            .avatar-img{
                .avatar-container{
                    width: 50px;
                    height: 50px;
                    position: relative;
                    cursor: pointer;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 50%;
                    }
                    i{
                        position: absolute;
                        left: 0;
                        top:0;
                        color:$primary;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .modal{
        .modal-dialog{
            .modal-content{
                .modal-header{
                    padding: 10px;
                    margin: 0;
                }
                .modal-body{
                    ul{
                        margin: 0;
                        padding: 0;
                        li{
                            list-style-type: none;
                            color: $primary;
                            a{
                                text-decoration: none;
                                display: block;
                                padding: 10px 0;
                                color: $primary;
                                i{
                                    display: inline-block;
                                    width: 18px;
                                    text-align: center;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}